/* flex */
.flex{
    display: flex;
}

.flex-direction{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}
.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}
.justify-center{
    justify-content: center;
}

.flex-end{
    align-items: flex-end;
}

.gap{
    gap: 1rem;
}